.sun {
  width: 10vh;
  height: 10vh;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
}

.sky {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 0;
}

.ground {
  width: 100%;
  position: absolute;
  background-color: black;
  z-index: 1;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
}
